@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    min-width: fit-content;
    font-family: 'Muli', sans-serif;
}

.navbar {
    height: 97px !important;
    margin-bottom: 0px;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16)!important;
}

.navbar-default {
    height: 92px;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.active>a {
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #fff;
}

.navbar-default li.active {
    border-left: none;
}

.navbar-default li {
    float: left;
    height: 20px;
    margin-top: -20px;
    padding: 0px 11px;
    padding-top: 46px;
    padding-bottom: 71px;
    border-left: 1px solid #f1f1f1;
}

.navbar-default li:last-child {
    border-left: none;
}

.navbar-default li::after {
    position: absolute;
    background: #E2B90D;
    height: 25px;
    content: '';
    width: 1px;
    bottom: 33px;
    left: -1px;
}

.navbar-default li:first-child::after {
    content: none;
}

.navbar-default li:last-child::after {
    content: none;
}

.navbar-nav li {
    font-size: 18px;
}

.navbar-nav>li .row .col-md-8 p {
    margin: 0;
}

.navbar-brand {
    padding: 5px 15px;
}

.navbar-collapse {
    padding-right: 0;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #fff;
    color: #C6A00D;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: #fff;
}

.navbar-toggle {
    margin-top: 31px;
}

.menurolagem {
    width: 100%;
    display: none;
    top: 0;
    height: 153px;
    position: sticky;
    border-bottom: 1px solid #ccc;
    z-index: 999;
    display: block;
}

.icone-navbar1 {
    display: inline-block !important;
    float: left;
    padding: 0 !important;
}

.icone-navbar2 {
    display: inline-block !important;
    float: right;
    padding: 0 !important;
}

.icones {
    border-left: 1px solid #f1f1f1;
}

.icones img {
    padding-top: 17px;
    padding-left: 18px;
}

.icones img:first-child {
    padding-left: 38px;
}

.orcamento {
    background-color: #C9A50F;
    padding-left: 59px !important;
    padding-right: 76px !important;
}

.orcamento p {
    margin: 0;
    color: #fff;
    display: inline-block;
    float: left;
}

.orcamento a {
    color: #fff;
}

.orcamento img {
    display: inline-block;
    float: right;
    padding-left: 26px;
}

.box-camera {
    height: 735px;
    position: relative;
    z-index: -1;
    padding-top: 350px;
}

.box-destaques {
    height: 447px;
    background: url(../img/bck-destaques.jpg) no-repeat top center;
}

.box-destaques h3 {
    font-weight: bold;
}

.box-destaques p {
    font-weight: bold;
}

.box-destaques h3 {
    font-size: 20px;
    color: #F5C920;
    text-transform: uppercase;
}

.box-destaques p {
    font-size: 48px;
    color: #fff;
    line-height: 53px;
    margin: 0;
}

.box-destaques a {
    text-transform: uppercase;
    margin-top: 16px;
    font-size: 15px;
    border-radius: 0;
    width: 325px;
}

.deskspace1 {
    padding-top: 41px;
}

.deskspace2 {
    padding-left: 113px;
    padding-top: 37px;
}

.drop-list {
    text-transform: uppercase;
    width: 725px;
    background-color: #B49000;
    border: none;
    border-radius: 0;
}

.drop-list li {
    min-width: 725px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    float: center;
    height: 53px;
    border-left: none;
    padding-top: 16px;
    margin-top: 0;
    padding-bottom: 0;
    border-left: none;
    padding-left: 40px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

.drop-list li:last-child {
    border-bottom: none;
}

.saiba-mais {
    width: 220px!important;
}

.box-servicos {
    height: 1907px;
    background: url(../img/bck-servicos.jpg);
}

.box-servicos h2:first-child {
    font-size: 18px;
    color: #000;
    letter-spacing: 10px;
}

.box-servicos h2:last-child {
    font-size: 60.72px;
    font-weight: 800;
    color: #B49000;
    letter-spacing: 10px;
}

.frame-servico {
    background-color: #fff;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.03);
}

.frame-servico h3 {
    padding: 0 17px;
    font-weight: bold;
}

.frame-servico p {
    padding: 0 17px;
}

.frame-servico a,
.frame-servico a:hover,
.frame-servico a:visited,
.frame-servico a:active,
.frame-servico a:focus {
    padding: 4px 17px;
    height: 33px;
    width: 142px;
    margin-bottom: 27px;
    margin-left: 60px;
    text-shadow: 0 1px 0 #fff;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
    border-color: transparent;
    border-color: transparent;
    background-color: transparent;
    color: #C6A00D;
    border: 2px solid #E2B90D;
    border-radius: 0;
}

.frame-servico a:hover {
    border: 2px solid #E2B90D;
    border-radius: 0;
}

.frame-servico img::after {
    background-color: yellow;
    position: absolute;
    content: '';
    height: 1px;
    width: 5px;
    left: 0;
    top: 0;
}

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-default {
    text-shadow: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
    filter: none;
    background-repeat: no-repeat;
    border-color: transparent;
    border-color: transparent;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #fff;
    border-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    background-color: #fff;
    background-position: 0;
}

.nservicos {
    padding-left: 0;
    padding-bottom: 59px;
    text-transform: uppercase;
    padding-top: 30px;
}

.nservicos h2:last-child {
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}

.nnews {
    padding-left: 0;
    padding-bottom: 59px;
    text-transform: uppercase;
    padding-top: 30px;
}

.info a,
.info a:hover,
.info a:visited,
.info a:active,
.info a:focus {
    padding: 4px 17px;
    height: 33px;
    width: 142px;
    margin-bottom: 27px;
    margin-left: 0px;
    text-shadow: 0 1px 0 #fff;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
    border-color: transparent;
    border-color: transparent;
    background-color: transparent;
    color: #C6A00D;
    border: 2px solid #E2B90D;
    border-radius: 0;
}

.info p {
    min-height: 100px;
}

.info img {
    padding-bottom: 15px;
}

.info h3 {
    min-height: 60px;
    font-size: 28px;
    font-weight: bold;
    color: #9D780B;
}

.nnews h2 {
    text-transform: uppercase;
}

.nnews h2:last-child {
    font-size: 18px;
    color: #000;
    letter-spacing: 10px;
}

.nnews h2:first-child {
    font-size: 60.72px;
    font-weight: 800;
    color: #B49000;
    letter-spacing: 10px;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}

.vermais a {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
    margin: 0 auto;
    width: 370px;
    height: 47px;
    padding: 15px 0px;
    color: #C6A00D;
    text-decoration: none;
    font-size: 13.36px;
    text-transform: uppercase;
    font-weight: bold;
}

.vermais a::after {
    content: '';
    display: block;
    width: 393px;
    left: 385px;
    bottom: 21px;
    height: 1px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
}

.vermais a::before {
    content: '';
    display: block;
    right: 277px;
    top: 24px;
    width: 389px;
    height: 1px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
}

.vermais svg path {
    fill: #C6A00D;
}

.icone {
    vertical-align: middle;
}

.box-footer {
    background-color: #E5E5E5;
}

.leis {
    height: 130px;
    background-color: #fff;
    margin-top: 12px;
    margin-bottom: 58px;
}

.leis .col-md-2,
.leis .col-md-9,
.leis .col-md-1 {
    min-height: 93px;
    padding-top: 22px;
}

.leis .col-md-9 h2 {
    font-size: 31.86px;
    font-weight: 800;
    margin-top: 0;
    color: #000;
}

.leis .col-md-9 p {
    color: #666666;
    font-size: 16.52px;
}

.leis .col-md-2 img {
    margin: 0 auto;
}

.img-instagram img {
    margin: 0 auto;
    padding-bottom: 72px;
}

.newsletter {
    margin-top: 44px;
    background-color: #C09929;
    height: 136px;
    padding: 30px;
}

.newsletter h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 29.37px;
    font-weight: bold;
    color: #fff;
}

.newspace {
    padding-top: 6px;
}

.newspace1 {
    padding-top: 19px;
}

.formnew0 {
    padding-right: 2px;
    padding-left: 0;
}

.formnew1 {
    padding-right: 0;
    padding-left: 0;
}

.formnew2 {
    padding-left: 0;
}

.texto {
    border: none;
    border-radius: 0;
    height: 47px;
}

.formnew2 button,
.formnew2 button:hover,
.formnew2 button:focus,
.formnew2 button:active,
.formnew2 button:visited {
    background-color: #000;
    border: none;
    border-radius: 0;
    height: 47px;
    color: #fff;
    width: 70px;
}

footer h3 {
    text-transform: uppercase;
    font-size: 15.82px;
    font-weight: bold;
    margin-bottom: 0;
    color: #696969;
}

footer p {
    margin-bottom: 10px;
}

footer .col-md-2,
footer .col-md-3,
footer .col-md-4,
footer .col-md-1 {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 191px;
}

footer .col-md-2:first-child {
    border: none;
}

.stroke1::before {
    display: block;
    content: '';
    position: absolute;
    left: 23px;
    width: 5px;
    height: 80px;
    background: #C09929;
}

.stroke2::before {
    display: block;
    content: '';
    position: absolute;
    left: 23px;
    width: 5px;
    height: 28px;
    background: #C09929;
}

.stroke3::before {
    display: block;
    content: '';
    position: absolute;
    left: 23px;
    width: 5px;
    height: 59px;
    background: #C09929;
}

.list-footer {
    list-style: none;
    margin: 0;
    padding: 16px;
}

.list-footer a {
    color: #000;
    text-decoration: none;
}

.list-footer a:hover {
    color: #000;
    text-decoration: none;
}

.footer-email {
    font-size: 10.65px;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #696969;
}

.footer-logo {
    margin-top: 20px;
    position: absolute;
    right: 20px;
    margin-top: 20px;
}

.brota,
.brota:hover,
.brota:visited,
.brota:active,
.brota:focus {
    background-color: #C9A50F;
    color: #fff;
    border-radius: 5px;
    width: 140.5px;
    position: absolute;
    left: 22px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
}

.box-final {
    height: 72px;
    background-color: #000;
}

.box-final h3 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.box-final .col-md-4:first-child {
    min-height: 72px;
    padding-top: 12px;
    border-left: none;
}

.box-final .col-md-4:last-child {
    min-height: 72px;
    padding-top: 5px;
    border-left: none;
}


/****************************************************Institucional***********************************************************/

.box-banner-institucional {
    background: url(../img/bck-institucional.jpg);
    height: 449px;
}

.box-banner-institucional .container {
    padding-top: 134px;
}

.box-banner-institucional h1 {
    color: #F5C920;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    line-height: 50px;
}

.box-banner-institucional p {
    color: #fff;
    font-size: 48px;
    line-height: 50px;
    font-weight: 800;
}

.box-institucional {
    background: url(../img/bck-servicos.jpg);
    height: 985px;
}

.institucional {
    margin-bottom: 87px;
}

.institucional .container {
    background-color: #fff;
    height: 925px;
    position: relative;
    margin-top: -1029px;
    background-color: #fff;
}

.institucional img {
    margin-top: -44px;
    margin-left: 20px;
    padding-bottom: 34px;
}

.institucional .col-md-4 p {
    font-size: 18.7397px;
    margin: 0;
    padding-left: 83px;
    color: #C6A00D;
    line-height: 27px;
    letter-spacing: 0.06em;
    font-weight: 600;
    font-style: italic;
}

.institucional .col-md-8 h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 50px;
    padding-bottom: 25px;
    color: #b49000;
}

.institucional .col-md-8 h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 25px;
    padding-top: 20px;
    margin-bottom: 4px;
    letter-spacing: 0.05em;
    color: #0D0D0D;
}

.institucional .col-md-8 {
    padding-right: 88px;
    padding-top: 60px;
}

.institucional .col-md-8 p {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    margin: 0;
    letter-spacing: 0.05em;
    color: #0d0d0d;
}

.bala {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 16px;
}

.bala li:before {
    content: "\25A0";
    color: #C6A00D;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


/****************************************Nossos-Clientes**************************************/

.box-banner-clientes {
    background: url(../img/bck-clientes.jpg);
    height: 457px;
}

.box-clientes {
    background: url(../img/bck-servicos.jpg);
    height: 1460px;
}

.box-banner-clientes .container {
    padding-top: 134px;
}

.box-banner-clientes h1 {
    color: #F5C920;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    line-height: 50px;
}

.box-banner-clientes p {
    color: #fff;
    font-size: 48px;
    line-height: 50px;
    font-weight: 800;
}

.clientes {
    background-color: #fff;
    position: absolute;
    top: 505px;
    left: 375px;
    padding: 24px 100px;
}

.clientes h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #C9A50F;
}

.owl-prev {
    position: absolute;
    left: -56px;
    top: 245px;
    background: transparent!important;
}

.owl-next {
    position: absolute;
    right: -56px;
    top: 245px;
    background: transparent!important;
}


/*********************************************************Diferenciais********************************************************/

.box-banner-dif {
    background: url(../img/bck-diferenciais.jpg);
    height: 446px;
}

.box-banner-dif .container {
    padding-top: 134px;
}

.box-banner-dif h1 {
    color: #F5C920;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    line-height: 50px;
}

.box-banner-dif p {
    color: #fff;
    font-size: 48px;
    line-height: 50px;
    font-weight: 800;
}

.diferenciais {
    background-color: #fff;
    position: absolute;
    top: 408px;
    left: 375px;
    padding: 33px 100px;
}

.drone {
    position: absolute;
    left: 977px;
    top: 194px;
    z-index: 998;
}

.diferenciais .row .col-md-6,
.diferenciais .row .col-md-12 {
    padding-top: 108px;
}

.diferenciais .row .col-md-6 img,
.diferenciais .row .col-md-12 img {
    padding-bottom: 41px;
}

.diferenciais .row .col-md-6 p {
    min-height: 105px;
    font-size: 28px;
    font-weight: bold;
    line-height: 35px;
    color: #424242;
}

.diferenciais .row .col-md-12 p {
    font-size: 28px;
    font-weight: bold;
    line-height: 35px;
    color: #424242;
    padding-bottom: 89px;
}

.bottext p:first-child {
    padding-top: 47px;
}

.bottext p {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #0D0D0D;
}


/***************************************************News************************************************************/

.news h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 60.7229px;
    line-height: 74px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #B49000;
    margin-bottom: 0;
}

.news h2 {
    padding-bottom: 40px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #000;
    margin-top: 0;
}


/************************************************************news-detalhes***************************************************/

.box-detalhes {
    background: url(../img/bck-servicos.jpg);
    height: auto;
    padding-bottom: 29px;
}

.news-detalhes {
    background-color: #fff;
    padding-top: 0;
    padding-left: 382px;
    margin-bottom: 29px;
}

.news-detalhes h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 60.7229px;
    line-height: 74px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #B49000;
    margin-bottom: 0;
}

.news-detalhes h2 {
    padding-bottom: 40px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #000;
    margin-top: 0;
}

.post .col-md-12 {
    background-color: #fff;
}

.post .col-md-12 {
    background-color: #fff;
}

.post .col-md-8 p,
.post .col-md-8 h2 {
    padding: 0 96px;
}

.post .col-md-8 p {
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 25px;
    color: #666666;
}

.post .col-md-8 p:nth-child(2) {
    padding-top: 82px;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.2em;
    color: #787878;
}

.post .col-md-8 p:nth-child(8) {
    padding-bottom: 198px;
}

.post .col-md-8 h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    color: #9D780B;
}

.space1 {
    background-color: #fff;
    max-height: 1481px;
}

.space2 {
    background-color: #fff;
    margin: 0;
    padding: 0;
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 40px;
    min-height: 1481px;
}

.destaque p:first-child {
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.2em;
    color: #787878;
}

.destaque h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    color: #9D780B;
}

.destaque p:nth-child(3) {
    font-size: 14px;
    line-height: 25px;
    color: #666666;
}

.destaque a,
.destaque a:hover,
.destaque a:visited,
.destaque a:focus,
.destaque a:active {
    padding: 4px 17px;
    height: 33px;
    width: 142px;
    margin-bottom: 27px;
    text-shadow: 0 1px 0 #fff;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
    border-color: transparent;
    border-color: transparent;
    background-color: transparent;
    color: #C6A00D;
    border: 2px solid #E2B90D;
    border-radius: 0;
    text-decoration: none;
}


/********************************************Leis*********************************/

.box-leis {
    background: url(../img/bck-servicos.jpg);
    height: auto;
}

.lista-leis {
    list-style: none;
    margin: 0;
    padding: 0;
}

.space-leis1 {
    background-color: #fff;
    max-height: 1481px;
    padding: 67px 100px;
}

.space-leis1 h2 {
    margin: 0;
    margin-bottom: 11px;
    margin-left: 25px;
    font-weight: 800;
    font-size: 31.8621px;
    line-height: 37px;
    color: #000000;
}

.space-leis1 .col-md-10 p {
    margin-left: 25px;
    font-size: 16.5161px;
    line-height: 25px;
    color: #666666;
}

.titulo-leis {
    padding-bottom: 73px!important;
    border: none!important;
}

.space-leis1 .row:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    padding-bottom: 7px;
}

.lista-leis .col-md-11 {
    min-height: 27px;
}

.lista-leis p {
    padding-top: 3px;
    font-size: 16.5161px;
    line-height: 25px;
    color: #000000;
}

.space-leis2 {
    background-color: #fff;
    max-height: 1481px;
    padding: 67px 100px;
    background-color: #fff;
    margin: 0;
    padding: 0;
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 40px;
    min-height: 1184px;
}


/***************************servicos**************************************************/

.serv-items .space2 {
    background-color: #B49000;
}

.space-servico-1 {
    background-color: #fff;
    min-height: 1916px;
}

.space-servico-1 .row {
    padding: 33.5px 81px;
}

.space-servico-2 {
    background-color: #B49000;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 28px;
    min-height: 1916px;
}

.space-servico-2 .col-md-12 {
    padding-left: 41px;
}

.space-servico-2 .col-md-12 a {
    font-weight: bold;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.space-servico-1 h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    margin-top: 0;
    color: #9D780B;
}

.space-servico-1 h3 {
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    color: #000000;
}

.space-servico-1 p {
    font-size: 14px;
    line-height: 25px;
    color: #666666;
}

.space-servico-1 .col-md-6 p {
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: #3F3F3F;
}

.space-servico-1 .col-md-12 ul li {
    list-style: none;
    font-size: 14px;
    line-height: 25px;
    color: #666666;
    padding-bottom: 30px;
}

.space-servico-1 .col-md-12 ul li::before {
    content: "\25A0";
    color: #C6A00D;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.link-serv {
    background: url(../img/ico-mais.png) no-repeat right;
    width: 100%;
    height: 100%;
    display: block;
    padding-right: 39px;
    color: #fff;
    padding-bottom: 17px;
    padding-top: 17px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.link-serv:hover {
    text-decoration: none;
    color: #fff;
}

.servicos-detalhes {
    background-color: #fff;
    padding-top: 0;
    padding-left: 382px;
    margin-bottom: 29px;
}

.servicos-detalhes h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 60.7229px;
    line-height: 74px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #B49000;
    margin-bottom: 61px;
    margin-top: 0;
}

.servicos-detalhes h2 {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #000;
    margin-top: 61px;
}


/**************************************Contato***********************************/

.box-contato {
    background: url(../img/bck-servicos.jpg);
    height: auto;
    padding-top: 35px;
    padding-bottom: 35px;
}

.contato-right1 {
    background-color: #927115;
    padding-top: 22px;
    height: 350px;
    width: 470px;
    padding: 33px;
}

.contato-right2 {
    background-color: #C09929;
    width: 470px;
    height: 102px;
    padding: 33px;
    margin-top: 5px;
    padding-top: 25px;
}

.contato-right1 .col-md-10 p:nth-child(2) {
    margin: 0;
    font-size: 18.6031px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.contato-right1 .col-md-10 p:nth-child(2),
.contato-right1 .col-md-10 p:nth-child(3) {
    font-size: 13.2062px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.contato-right1 h3 {
    margin: 0;
    font-weight: 800;
    font-size: 19.6178px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.contato-right1 .col-md-12 .row {
    padding-top: 28px;
}

.contato-right2 h3 {
    margin: 0;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #F3F8F9;
}

.contato-right2 p {
    margin: 0;
    font-size: 13.2149px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #F3F8F9;
}

.brota1 {
    background-color: #C9A50F;
    color: #fff;
    border-radius: 5px;
    width: 140.5px;
    position: absolute;
    top: 65px;
    left: 15px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
}

.brota1:hover {
    background-color: #C9A50F;
    color: #fff;
    border-radius: 5px;
    width: 140.5px;
    position: absolute;
    top: 65px;
    left: 15px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
}

.inputs-contato .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.inputs-contato .form-group:first-child {
    margin-top: 0px;
}

.inputs-contato .form-group {
    margin-bottom: 0px;
    margin-top: 34.1px;
}

.inputs-contato textarea {
    border: none;
    border-radius: 0;
}

.botao p {
    margin-top: 5px;
    padding-right: 32px;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.botao img {
    padding-left: 38px;
}

.botao {
    background-color: #000;
    border: none;
    border-radius: 0;
    height: 45px;
    color: #fff;
    width: 148px;
}

.botao:hover {
    background-color: #000;
    border: none;
    border-radius: 0;
    height: 45px;
    color: #fff;
    width: 148px;
}

@media (max-width: 768px) {
    .box-servicos {
        height: inherit;
    }
    .box-servicos .row .col-md-12 {
        margin-bottom: 25px;
    }
    .box-servicos .row .col-md-12 img {
        display: inline-block;
        min-width: 100%;
    }
    .frame-servico a {
        margin-left: 0;
    }
    .vermais a::before {
        right: 96%;
    }
    .vermais a::after {
        left: 96%;
        width: 15px;
    }
    .box-footer .col-xs-3 {
        padding-top: 17%;
    }
    .box-footer .col-xs-2 {
        padding-top: 22%;
    }
    .leis {
        height: inherit;
    }
    .leis .col-xs-7 h2 {
        font-size: 31.86px;
        font-weight: 800;
        margin-top: 0;
        color: #000;
    }
    .leis .col-xs-7 p {
        color: #666666;
        font-size: 16.52px;
    }
    .vermais a {
        width: 100%;
    }
    .img-instagram img {
        padding-bottom: 10%;
    }
    .newsletter {
        height: inherit;
    }
    .footer-logo {
        right: 24%;
    }
    footer .col-md-2,
    footer .col-md-3,
    footer .col-md-4,
    footer .col-md-1 {
        min-height: 100px;
    }
    .box-servicos h2:last-child {
        font-size: 36px;
    }
    .footer-logo {
        position: initial;
        padding-left: 22%;
    }
    .brota {
        position: initial;
    }
    .vermais a {
        padding-left: 6%;
    }
    .frame-servico a,
    .frame-servico a:hover,
    .frame-servico a:visited,
    .frame-servico a:active,
    .frame-servico a:focus {
        margin-left: 0;
    }
    .brota,
    .brota:hover,
    .brota:visited,
    .brota:active,
    .brota:focus {
        position: initial;
    }
    .navbar .container-fluid .row .col-md-10 {
        padding-right: 0px;
        padding-top: 11%;
    }
    .navbar-nav li {
        width: 100%;
        border: none;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        background-color: transparent;
    }
    .navbar-default li {
        padding-top: 0;
    }
    .navbar .container-fluid {
        padding: 0;
    }
    .orcamento {
        padding-top: 7%!important;
    }
    .orcamento a {
        padding: 0px 40px!important;
    }
    .icone-navbar1,
    .icone-navbar2 {
        display: inline-block !important;
        float: inherit;
        padding: 0 !important;
    }
    .icone-navbar1 {
        padding-left: 36%!important;
    }
    .navbar-collapse.in {
        overflow-y: inherit;
    }
    .navbar-collapse {
        border: none;
    }
    .navbar-nav {
        margin: 0;
    }
    .centro {
        text-align: center;
    }
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        background-color: #B49000;
        margin-top: -8%;
        padding-top: 4%;
    }
    .drop-list li {
        min-width: initial;
        padding-left: 4%;
    }
    .box-banner-institucional {
        background: url(../img/bck-institucional.jpg) no-repeat;
        height: 495px;
    }
    .box-banner-institucional .container {
        padding-top: 0;
    }
    .institucional .col-md-8 {
        padding-right: 88px;
        padding-top: 0;
    }
    .institucional .col-md-8 {
        padding-right: 15px;
    }
    .institucional {
        margin-bottom: 408px;
    }
    .institucional .container {
        height: 998px;
        margin-top: -46px;
    }
    #my-navbar {
        background-color: #fff;
        border: none;
        margin-top: -21px;
    }
    .navbar-nav {
        margin-bottom: 0;
        padding-top: 4%;
    }
    .box-banner-clientes .container {
        padding-top: 0;
    }
    .box-banner-clientes {
        background-repeat: no-repeat;
        height: 457px;
    }
    .clientes {
        position: inherit;
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-collapse {
        padding-left: 0;
    }
    .orcamento img {
        padding-left: 0;
    }
    .navbar-default .container-fluid .row {
        margin-right: 0;
    }
    .box-banner-dif .container {
        padding-top: 0;
    }
    .diferenciais {
        position: inherit;
        padding: 0 34px;
    }
    .formnew0 {
        padding-right: 0;
    }
    .news {
        text-align: center;
    }
    .box-detalhes {
        background: none;
        height: auto;
        text-align: center!important;
    }
    .news-detalhes {
        padding-left: 15px;
        margin-bottom: 0;
    }
    .space2 {
        min-height: auto;
    }
    .post .col-xs-12 p:nth-child(2) {
        padding-top: 82px;
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 0.2em;
        color: #787878;
    }
    .post .col-xs-12 h2 {
        font-weight: bold;
        font-size: 28px;
        line-height: 35px;
        color: #9D780B;
    }
    .post .col-xs-12 p {
        padding-bottom: 15px;
        font-size: 14px;
        line-height: 25px;
        color: #666666;
    }
    .post .row:nth-child(2) {
        border-top: 5px solid #9D780B;
    }
    .lista-leis .row .col-xs-2 {
        padding-top: 4%;
    }
    .space-leis1 {
        padding: 0;
    }
    .centro1 {
        text-align: center;
    }
    .space-leis2 {
        min-height: auto;
    }
    .servicos-detalhes h1 {
        font-size: 50.723px;
        margin-bottom: 0;
    }
    .servicos-detalhes h2 {
        margin-top: 6%;
        ssss
    }
    .box-leis {
        text-align: center!important;
    }
    .space-servico-1 {
        min-height: auto;
    }
    .space-servico-1 .row {
        padding: 0 15px;
        padding-bottom: 15px;
    }
    .space-servico-1 .row:nth-child(2) {
        padding-top: 30px;
    }
    .space-servico-1 .row .col-xs-12 ul {
        padding: 0 15px;
    }
    .space-servico-1 .row .col-xs-12 ul li {
        margin-bottom: 15px;
    }
    .servicos-detalhes {
        background-color: #fff;
        padding-top: 0;
        padding-left: 15px;
        margin-bottom: 0;
    }
    .space-servico-2 {
        min-height: auto;
    }
    .box-leis {
        height: auto;
    }
    .serv-items .row:first-child {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .icones {
        border-left: none;
    }
    .box-contato .container .row:nth-child(2) {
        margin-bottom: 8%;
    }
    .contato-right1 {
        padding: 0;
        padding-top: 22px;
        height: 310px;
    }
    .servicos-detalhes {
        text-align: center!important;
    }
    .contato-right1 .col-xs-10 p:nth-child(2),
    .contato-right1 .col-xs-10 p:nth-child(3) {
        font-size: 13.2062px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}